
@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway-Light.eot');
    src: url('fonts/Raleway-Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/Raleway-Light.woff2') format('woff2'),
        url('fonts/Raleway-Light.woff') format('woff'),
        url('fonts/Raleway-Light.ttf') format('truetype'),
        url('fonts/Raleway-Light.svg#Raleway-Light') format('svg');
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway-Medium.eot');
    src: url('fonts/Raleway-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/Raleway-Medium.woff2') format('woff2'),
        url('fonts/Raleway-Medium.woff') format('woff'),
        url('fonts/Raleway-Medium.ttf') format('truetype'),
        url('fonts/Raleway-Medium.svg#Raleway-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway-LightItalic.eot');
    src: url('fonts/Raleway-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Raleway-LightItalic.woff2') format('woff2'),
        url('fonts/Raleway-LightItalic.woff') format('woff'),
        url('fonts/Raleway-LightItalic.ttf') format('truetype'),
        url('fonts/Raleway-LightItalic.svg#Raleway-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway-MediumItalic.eot');
    src: url('fonts/Raleway-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Raleway-MediumItalic.woff2') format('woff2'),
        url('fonts/Raleway-MediumItalic.woff') format('woff'),
        url('fonts/Raleway-MediumItalic.ttf') format('truetype'),
        url('fonts/Raleway-MediumItalic.svg#Raleway-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Playfair Display';
    src: url('fonts/PlayfairDisplay-Bold.eot');
    src: url('fonts/PlayfairDisplay-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/PlayfairDisplay-Bold.woff2') format('woff2'),
        url('fonts/PlayfairDisplay-Bold.woff') format('woff'),
        url('fonts/PlayfairDisplay-Bold.ttf') format('truetype'),
        url('fonts/PlayfairDisplay-Bold.svg#PlayfairDisplay-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Playfair Display';
    src: url('fonts/PlayfairDisplay-Regular.eot');
    src: url('fonts/PlayfairDisplay-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/PlayfairDisplay-Regular.woff2') format('woff2'),
        url('fonts/PlayfairDisplay-Regular.woff') format('woff'),
        url('fonts/PlayfairDisplay-Regular.ttf') format('truetype'),
        url('fonts/PlayfairDisplay-Regular.svg#PlayfairDisplay-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Playfair Display';
    src: url('fonts/PlayfairDisplay-BoldItalic.eot');
    src: url('fonts/PlayfairDisplay-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/PlayfairDisplay-BoldItalic.woff2') format('woff2'),
        url('fonts/PlayfairDisplay-BoldItalic.woff') format('woff'),
        url('fonts/PlayfairDisplay-BoldItalic.ttf') format('truetype'),
        url('fonts/PlayfairDisplay-BoldItalic.svg#PlayfairDisplay-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Playfair Display';
    src: url('fonts/PlayfairDisplay-Italic.eot');
    src: url('fonts/PlayfairDisplay-Italic.eot?#iefix') format('embedded-opentype'),
        url('fonts/PlayfairDisplay-Italic.woff2') format('woff2'),
        url('fonts/PlayfairDisplay-Italic.woff') format('woff'),
        url('fonts/PlayfairDisplay-Italic.ttf') format('truetype'),
        url('fonts/PlayfairDisplay-Italic.svg#PlayfairDisplay-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
  }

  /* DEFAULT STYLING */
  html {
    scroll-behavior: smooth;
  }

 
  body{
      font-size: 14px;
      font-family: 'Raleway';
      font-style: normal;
      color: #2d2d2d;
  }

  h6{
    color: rgb(95, 93, 93);
   }


  h2{
    font-family: 'Playfair Display';
    font-weight: normal;
    font-style: italic;
    font-size: 30px;
}


p{
    text-align: center;
   font-family: 'Raleway';
    font-style: normal;
    justify-content: space-around;
    word-spacing: 10px;
    line-height: 1.6;

}

section{
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
}

span{
    font-family: 'Playfair Display';
    font-weight: bold;
    font-style: normal;
}

h3{
  margin: 2%;
  color: #969696;
}

h4{

  color: #e2574c;
  font-family: 'Playfair Display';
  font-size: 23px;
}

h5{
  margin: 3%;
  color: #969696;
}
  
  /* NAV STYLING---------- */
  header{
    margin-top: 10px;
  }
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    order: initial;
}

.logo {
    width: 150px;
    margin-left: 10px;
    order: -1;
   
  }


  .cart{

   width: 60px;
   margin-right: 10px;
   align-self: flex-end;
   order: 0;

  }

  .links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 5%;
    

   }

   header ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    
    }

   header ul li {
    display: inline-block;
    display: flex;
    flex-direction: row;

   }

   header ul li a {
    text-decoration: none;
    color: #e2574c;
    font-size: auto;
    font-family: 'Raleway';
   }
   hr {
    border: 0;
    border-top: 2px solid #999; 
    border-bottom: 2px solid #333;
    height:0;
    }

    a:hover {
      
      color: #b64036;
    }

/* ABOUT SECTION */

.Banner{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-wrap: wrap;
    background-image: url("images/flower-bkgd.jpg");
    background-repeat: repeat;
    background-size: cover;
    
    z-index: 3;
    width: 100%;
    height: 50%;
    align-items: center;
    


}

.banner-cont{
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 50%;

}
.girl{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-image:  linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(images/banner-girl.png);
    height: 90%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    align-items: center;
    justify-content: space-around;
    
}

.top{
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  width: 100%;
  height: 10%;
}
hr{
  width: 100%;
  border: 1px solid gray;

}
.topBanner1{

    text-align: center;
    text-shadow: 1px 1px #949494;


}

.topBanner2{
    font-family: 'Playfair Display';
    font-style: normal;
    font-size: 45px;
    text-align: center;
    text-shadow: 1px 0px #949494;
    text-align: center;
    font-weight: normal;

}
.crafted{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 30%;
    align-items: center;
    justify-content: center;
    

}
    .hand{
    display: flex;
    flex-direction: column;
    font-family: 'Playfair Display';
    font-style: italic;
    width: 80%;
    height: 100%;
    align-items: center;
    justify-content: space-around;
    }

    /* SHOP CATEGORIES */
    .shop-container{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        height: 90%;
        text-align: center;

    }

    .shop-item{
        display: flex;
        height: 24%;
        width: 49%;
        color: white;
        font-size: 150%;
        align-items: center;
        justify-content: center;
        text-shadow: 1px 1px #949494;
        background-size: cover;
    }

    .item-big{

        width: 100%;
    }

.men{
    background-image:  linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),url("images/mens-category.jpg");

}

.womens{
    background-image:  linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("images/womens-category.jpg");
    

  }
  .trends{
    background-image:  linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("images/trends-category.jpg");
 
  }
  .glasses{
    background-image:  linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("images/glasses-category.jpg");
  
  }

  .sale{
    background-image:  linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("images/sale-category.jpg");
    
  }

  .bags{
    background-image:  linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("images/bags-category.jpg");
    
  }


  /* PRODUCTS */

  .buy-botton{
    color: white;
    background: rgb(36, 36, 36);
    border-radius: 25px;
    border-color: none;
    border: 5px solid rgb(36, 36, 36);
  }

.shop{
    display: flex;
    width: 100%;
    height: 20%;
    text-align: center;
    justify-content: center;
    align-items: center;
    justify-content: center;

}

/* SIGN-UP PART */


.signup{
    display: flex;
    margin-top: 10%;
    background-image:  linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),url("images/wave-bkgd.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    color: white;

    align-items: center;
    height: 40%;
    flex-direction: column;
    justify-content: space-around;
    background-size: cover;
  }

  .sub{
      background-color: white;
      border-radius: 25px;
      border: 5px solid white;
  }
  

button{
    background: rgb(238, 88, 88);
    border-radius: 25px;
    color: white;
    border: 5px solid rgb(238, 88, 88);
    
}

/* FOOTER */

footer{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 50%;
    background: #242424;
    color: white;
  
  }
  .icons{
    color: white;
    text-decoration: none;
  }

  .icons-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 5%;
    width: 50%;

  }

  .icons span{
    font-size: 0px;
    font-family: 'Raleway';
    padding-left: 15%;
  }
  
  .info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    height: 50%;
    

  }

  .info p{
    word-spacing: 0px;
  }
  
  .year{
    align-content: center;
      width: 50%;
  }

.sign-container{
  width: 80%;
}

.carousel-cell {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.sign-font{
  text-shadow: 1px 1px #949494;
}


  /* QUERY STYLING---------- */

  @media screen and (min-width: 600px)  {
    body{
        font-size: 16px;
        
    }

    .topBanner2{

      font-size: 80px;
      margin-top: 4%;
  
  }


  .carousel-cell {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
  }
    .links{
     width: 50%;
     order: -1;
     padding: 0%;
    }

    .cart{
    order: 1;
    }   
    .shop-container{
        height: 50%;
    }

    .shop-item{
        width: 24%;
        height: 48%;
   
    }

    .item-big{
        width: 49%;
        height: 48%;
    }
    .Banner{
        height: 70%;
        background-size: cover;
    }
    footer{
        flex-direction: row;
        justify-content: space-between;
        text-align: left;
    }
    .icons-container{
        flex-direction: column;
        justify-content: space-between;
        padding-top: 0%;
        width: 20%;
        height: 50%;
    }

    .info{
        text-align: left;
        padding: 5%;
        width: 50%;
    }

    .info p{
        text-align: left;
    }



    .signup{

      background-image:  linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),url("images/wave-bkgd.jpg");
      background-size: cover;
    }

    hr{
      width: 100%;
      border: 1px solid white;
    
    }
    a span{
      font-size: 16px;
    }

    .icons span{
      font-size: 14px;
 
    }
}

@media screen and (min-width: 1240px)  {
   *{
        font-size: 16px;
    }
    .links{
     width: 50%;
     order: -1;
     padding: 0%;
    }

    .carousel-cell {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 25%;
    }

    .cart{
    order: 1;
    }   
    .shop-container{
        height: 50%;
    }


    .shop-item{
        width: 24%;
    }
    .item-big{
        width: 50%;
    }
}
