

@font-face {
  font-family: 'Raleway';
  src: url('fonts/Raleway-Light.eot');
  src: url('fonts/Raleway-Light.eot?#iefix') format('embedded-opentype'),
      url('fonts/Raleway-Light.woff2') format('woff2'),
      url('fonts/Raleway-Light.woff') format('woff'),
      url('fonts/Raleway-Light.ttf') format('truetype'),
      url('fonts/Raleway-Light.svg#Raleway-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('fonts/Raleway-Medium.eot');
  src: url('fonts/Raleway-Medium.eot?#iefix') format('embedded-opentype'),
      url('fonts/Raleway-Medium.woff2') format('woff2'),
      url('fonts/Raleway-Medium.woff') format('woff'),
      url('fonts/Raleway-Medium.ttf') format('truetype'),
      url('fonts/Raleway-Medium.svg#Raleway-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('fonts/Raleway-LightItalic.eot');
  src: url('fonts/Raleway-LightItalic.eot?#iefix') format('embedded-opentype'),
      url('fonts/Raleway-LightItalic.woff2') format('woff2'),
      url('fonts/Raleway-LightItalic.woff') format('woff'),
      url('fonts/Raleway-LightItalic.ttf') format('truetype'),
      url('fonts/Raleway-LightItalic.svg#Raleway-LightItalic') format('svg');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Raleway';
  src: url('fonts/Raleway-MediumItalic.eot');
  src: url('fonts/Raleway-MediumItalic.eot?#iefix') format('embedded-opentype'),
      url('fonts/Raleway-MediumItalic.woff2') format('woff2'),
      url('fonts/Raleway-MediumItalic.woff') format('woff'),
      url('fonts/Raleway-MediumItalic.ttf') format('truetype'),
      url('fonts/Raleway-MediumItalic.svg#Raleway-MediumItalic') format('svg');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('fonts/PlayfairDisplay-Bold.eot');
  src: url('fonts/PlayfairDisplay-Bold.eot?#iefix') format('embedded-opentype'),
      url('fonts/PlayfairDisplay-Bold.woff2') format('woff2'),
      url('fonts/PlayfairDisplay-Bold.woff') format('woff'),
      url('fonts/PlayfairDisplay-Bold.ttf') format('truetype'),
      url('fonts/PlayfairDisplay-Bold.svg#PlayfairDisplay-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('fonts/PlayfairDisplay-Regular.eot');
  src: url('fonts/PlayfairDisplay-Regular.eot?#iefix') format('embedded-opentype'),
      url('fonts/PlayfairDisplay-Regular.woff2') format('woff2'),
      url('fonts/PlayfairDisplay-Regular.woff') format('woff'),
      url('fonts/PlayfairDisplay-Regular.ttf') format('truetype'),
      url('fonts/PlayfairDisplay-Regular.svg#PlayfairDisplay-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('fonts/PlayfairDisplay-BoldItalic.eot');
  src: url('fonts/PlayfairDisplay-BoldItalic.eot?#iefix') format('embedded-opentype'),
      url('fonts/PlayfairDisplay-BoldItalic.woff2') format('woff2'),
      url('fonts/PlayfairDisplay-BoldItalic.woff') format('woff'),
      url('fonts/PlayfairDisplay-BoldItalic.ttf') format('truetype'),
      url('fonts/PlayfairDisplay-BoldItalic.svg#PlayfairDisplay-BoldItalic') format('svg');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('fonts/PlayfairDisplay-Italic.eot');
  src: url('fonts/PlayfairDisplay-Italic.eot?#iefix') format('embedded-opentype'),
      url('fonts/PlayfairDisplay-Italic.woff2') format('woff2'),
      url('fonts/PlayfairDisplay-Italic.woff') format('woff'),
      url('fonts/PlayfairDisplay-Italic.ttf') format('truetype'),
      url('fonts/PlayfairDisplay-Italic.svg#PlayfairDisplay-Italic') format('svg');
  font-weight: normal;
  font-style: italic;
}

/* DEFAULT STYLING */










p{
  font-family: 'Raleway';
  padding-top: 2%;
  padding-bottom: 2%;

  font-weight: lighter;
  font-style: normal;


}

section{
  padding-top: 2%;
  padding-bottom: 2%;
  text-align: center;
}


  /* CLASSES FOR TOP NAV */
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: auto;
    border-bottom: 1px solid #F2F2F2;
    padding: 2.3em 0;
    width: 100%;
    flex-wrap: wrap;
    order: initial;

   }

   .logo {
     width: 150px;
     margin-left: 10px;
    
   }

   .cart{

    width: 60px;
    margin-right: 10px;
    align-self: flex-end;
   }

   .links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    width: 100%;

   }


   header ul li {
    display: inline-block;
    display: flex;
    flex-direction: row;

   }

   header ul li a {
    text-decoration: none;
    color: orangered;
    font-size: auto;
    font-family: 'Raleway';
   }




   h2{
    font-size: 12mm;
    font-family: 'Playfair Display';
    padding: 0% 20% 6% 20;
    font-weight: normal;
    font-style: italic;
}

h3{
  font-family: 'Raleway';
  color: #7D7C7D;
  font-size: 70%;

}

h4{
  padding: 3%;
  color: red;

  font-family: 'Playfair Display';

}

h5{
  font-family: 'Raleway';
  font-size: 90%;
  color: #7D7C7D;

}

footer{
  text-align: center;
  width: 100%;
  background: rgb(77, 77, 77);
  color: white;


}

 h6{
  color: rgb(95, 93, 93);
 }






 /* BANNER CLASSES--------- */


.Banner{
    color: white;
    padding: 15% 1%;
    
    background-image: url("images/banner-girl.png"), url("images/flower-bkgd.jpg");
    background-repeat: no-repeat, no-repeat;
    background-position: bottom;
    background-size: 37.5%, 160%;
    z-index: 3;
    height: 750px;

}

.topBanner1{

    font-size: 15mm;
    text-align: center;
    text-shadow: 1px 1px #949494;
    margin-top: 10%;

}

.topBanner2{

    font-size: 20mm;

    text-align: center;

}


/* Hand Crafted STYLE */



.hand{
padding: 5% 20% 5% 20%;
line-height: 113%;
font-size: 30px;
font-family: 'Playfair Display';
font-style: italic;

}
span{
    font-family: 'Playfair Display';
    font-size: 12mm;
    font-weight: bold;
    font-style: normal;

}

/* CATEGORIES SECTION */

.flex-container {
    padding: 0;
    margin: 0;
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 1010px;
    

  }

  .flex-item {
    background-color: white;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top;
    width: 49%;
    height: 50%;
    display: inline-block;
    line-height: 200px;
    color: white;
    font-size: 150%;
    font-family: "Raleway";

    text-shadow: 1px 1px #949494;
    vertical-align: middle;
    }

  .men{
    background-image: url("images/mens-category.jpg");

    width: 100%;

  }


  .womens{
    background-image: url("images/womens-category.jpg");
    width: 100%;
  }
  .trends{
    background-image: url("images/trends-category.jpg");
  }
  .glasses{
    background-image: url("images/glasses-category.jpg");
    background-size: 100%;
  }

  .sale{
    background-image: url("images/sale-category.jpg");
    background-size: 100%;
  }

  .bags{
    background-image: url("images/bags-category.jpg");
    background-size: 100%;
  }

/* MOST LOVED PRODUCTS SECTION */



/* Sign-up  SECTION */

.siggup{
  background-image: url("images/wave-bkgd.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  color: white;
  text-shadow: 1px 1px #949494;
  align-items: center;

  
}


.subs{
  background: white;
  width: 600px;
}


.icons{
  color: white;
  padding: 2%;
}


.shop{
  widows: 100%;;
}

/* Set the background color of body to tan */


/* On screens that are 600px or less, set the background color to olive */
@media screen and (min-width: 600px)  {
    body {
        background: green;
        font-size: 16px;
    }

    .cart{
      order: 1;
     }
}

@media screen and (min-width: 1240px)  {
  body {
      background: red;
      font-size: 16px;
  }

  .cart{
    order: 1;
   }
}




    /* @media  (min-width: 200px) and (max-width: 767px) and (orientation : landscape) {

      body{
        background: yellow;
      }
      } */